{% if weddings %}
    <div class="row">
    {% for wedding in weddings %}
        <div class="col-md-4">
            <h2><a href="{{ path('fishrod_web_wedding_view', {'slug': wedding.slug}) }}">
                    {{ wedding.name }}
                </a></h2>

            <p>{{ wedding.address }}</p>

            <div class="single-wedding">
                {{ render(
                controller('FishrodWebBundle:Guest:viewGuestMessagesWidget',
                {'wedding': wedding}
                )) }}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div>No Weddings</div>
{% endif %}

