{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Wedding</h1>
    <table class="record_properties">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ wedding.name }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ wedding.address }}</td>
        </tr>
        </tbody>
    </table>
    {{ render(controller('FishrodWebBundle:Guest:viewGuestMessagesWidget', {'wedding': wedding})) }}
    {{ render(controller('FishrodWebBundle:Guest:createGuestEntry', {'wedding': wedding})) }}
{% endblock %}