# Bootstrap
symfony/app/bootstrap*

# Symfony directories
vendor/*
symfony/vendor/*
*/logs/*
*/cache/*
symfony/web/uploads/*
symfony/web/bundles/*

# Configuration files
symfony/app/config/parameters.ini
symfony/app/config/parameters.yml
