{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Check out the latest weddings!</h1>
        <p></p>
    </div>
    {{ render(controller('FishrodWebBundle:Wedding:viewLatestWeddings')) }}
{% endblock %}
