<div class="guests">
    <span>Messages left by the guest</span>
    {% if guests %}
        {% for guest in guests %}
            <div class="message">

                <h3>{{ guest.name }}</h3>
                <p>{{ guest.message }}</p>

                {% if guest.photo %}
                    <img src="/{{ guest.photo.getWebPath() }}"
                         class="img-responsive img-rounded" alt="Guest Photo"
                         width="304">
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <span>No messages</span>
    {% endif %}
</div>

