{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Wedding edit</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <a class="btn-default btn" href="{{ path('admin_wedding') }}">
        Back to the list
    </a>
{% endblock %}
