{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Wedding edit</h1>

    {{ form(edit_form) }}

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('admin_wedding') }}">
                Back to the list
            </a>
        </li>
        <li class="list-group-item">{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
