{% extends '::base.html.twig' %}

{% block content %}
    <div id="leftColumn">
    {{ include(
            'JulianCandTestBundle:GuestBook:leftColumn.html.twig',
            { 'form': form }
        ) }}
    </div>
    <div id="rightColumn">
    {{ include(
            'JulianCandTestBundle:GuestBook:rightColumn.html.twig',
            { 'guests': guests }
        ) }}
    </div>
{% endblock %}